{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:jest/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "no-unused-vars": 0
  },
  "ecmaVersion": 6,
  "sourceType": "module",
  "ecmaFeatures": {
    "modules": true
  }
}
